---
import "@splidejs/splide/css"
import { Splide, SplideTrack, SplideSlide } from "astro-splide";

const options = {
    type: "loop",
    perPage: 3,
    perMove: 1,
    autoplay: true,
    interval: 2000,
    pagination: false,
    arrows: false,
    gap: "1rem",
    breakpoints: {
        640: {
            perPage: 1,
        },
        768: {
            perPage: 2,
        },
    },
}

const { clients } = Astro.props
---

<section id="client" class="w-screen h-auto bg-[#0c1b33] py-12 lg:py-24 px-4">
    <div class="container mx-auto">
        <div class="overflow-hidden w-full pb-2 text-center">
            <h1 class="text-4xl font-nunito text-[#ebeceb]" data-aos="fade-up">
                Bagaimana Pendapat Client Kami?
            </h1>
        </div>
        <div class="overflow-hidden w-full pb-2">
            <Splide
                class='not-content'
                options={ options }
                aria-labelledby="autoplay-example-heading"
                hasTrack={ false }
                data-aos="fade-up"
                data-aos-delay="100"
                >
                <div class="relative w-full h-auto mt-8">
                    <SplideTrack>
                        {clients.map((client: { name: string; testimonial: String; image: string | null | undefined; city: string; }) => (
                            <SplideSlide>
                                <div class="w-full h-auto bg-[#ebeceb] rounded-br-4xl rounded-tl-4xl p-6 shadow-lg relative">
                                    <p class="text-gray-800 font-comfortaa text-sm lg:text-base mb-4">
                                        "{client.testimonial}"
                                    </p>
                                    <div class="flex flex-row items-center">
                                        <div class="w-12 h-12 lg:w-16 lg:h-16 overflow-hidden rounded-full relative mr-4">
                                            <img src={client.image} alt={client.name} class="w-full h-full object-cover absolute top-0 left-0" />
                                        </div>
                                        <div class="flex flex-col">
                                            <p class="text-gray-600 font-comfortaa text-sm">- {client.name}, </p>
                                            <p class="text-gray-600 font-comfortaa text-xs ml-2">{client.city}</p>
                                        </div>
                                    </div>
                                </div>
                            </SplideSlide>
                        ))}
                    </SplideTrack>
                </div>
            </Splide>
        </div>
    </div>
</section>